@import "../common/mixins/breakpoints.scss";

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 13px;
}

.eolivero-main {
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    font-size: 16px;
    @include media-breakpoint-up(sm) {
        color: black;

    }
    @include media-breakpoint-up(md) {
        color: red;
        display: flex;
        flex: 1;
        max-width: 960px;
        margin: 0 auto;
        font-size: 1.6rem;
    }
}

.main {
    &__section {
        padding: 0 30px 0 30px;
        display: flex;
        flex: 1;
        flex-flow: column;
    }
}