@import "../coulours";
@import "./breakpoints";


// Size of text sm, md, xl
// Add breakpoints for style every device
@mixin text--xsm {
    font-size: 13px;
    color: $black;
    font-weight: 500;
}

@mixin text--sm {
    font-size: 16px;
    color: $black;
    font-weight: 500;
}

@mixin text--md {
    font-size: 19px;
    color: $black;
    font-weight: 500;
}

@mixin text--xl {
    font-size: 22px;
    color: black;
    font-weight: 500;
}

@mixin text--xxl {
    font-size: 25px;
    color: black;
    font-weight: 500;
}

// Colors

@mixin text--grey-light {
    color: $grey-light;
}

// Weight

@mixin text--bold {
    font-weight: 800;
}